@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Typography */

h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

p {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");

}

/* App section */

.app {
    margin-left: 16px; /*only for mobile */
    margin-right: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login Section */

.login-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-text {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.login-emoji {
    margin-top: 10vh;
}

/* Mode Selection */

.mode-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.mode-selection .diff-btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5vh;
    margin-top: 10vh;
}

.mode-selection .mode-btn-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-bottom: 10vh;

}

.mode-selection .mode-btn-wrapper .guess-song-btn {
    margin-bottom: 1.5vh;
}

.mode-selection .diff-btn-wrapper .easy-btn {
    margin-bottom: 1.5vh;
}

.mode-selection .fab {
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 1;
    display: block;

}

.mode-selection .link-tag {
    text-decoration: none;
}
